<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/employees.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <h2><%= pageTitle%></h2>
                <form id="formDetails" action="<%= path %>" method="POST">
                    <input type="text" hidden id="_id" name="_id" value="<%= employee._id%>">
                    <input type="text" hidden id="formMode" value="<%= state %>">
                    <div class="card card-body form-group">
                        <label for="name">Employee name</label>
                        <input type="text" class="form-control" id="name" name="name"
                            placeholder="employee name" value="<%= employee.name%>">
                    </div>
                    <div class="card card-body form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age"
                            value="<%= employee.age%>" min="10" max="50000000" >
                    </div>
                    <div class="card card-body form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="name@example.com" value="<%= employee.email%>">
                    </div>
                    <div class="card card-body form-group">
                        <label for="avatar">Avatar url</label>
                        <input type="file" class="form-control" id="avatar"
                            placeholder="http://example.com/aaa.jpg" accept="image/*">
                        <input type="text" hidden name="avatar" value="<%= employee.avatar%>">
                    </div>
                    <div class="card card-body form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" value="<%= employee.salary%>" 
                            name ="salary" min="10" max="50000000" >
                    </div>
                    <div class="card card-body form-group">
                        <label for="role">Role</label>
                        <select multiple class="height-60 custom-select form-control" id="role" name="role">
                            <% for(let i of [1,2]) {%>
                                <% if(employee.role && employee.role.roleId == i) { %>
                                    <option value="<%= i%>" selected><%= i === 1 ? 'Employee' : 'Manager'%></option>    
                                <% } else { %>
                                    <option value="<%= i%>"><%= i === 1 ? 'Employee' : 'Manager'%></option>    
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <% if(state === 'edit') { %>
                            <button type="submit" class="btn btn-success">Update</button>
                            <input type="button" onclick="function back(){location.href='/admin/employees'};back()" value="Back" class="btn btn-outline-dark">
                        <% } else if(state === 'add') { %>
                            <button type="submit" class="btn btn-success">Add</button>
                            <input type="button" onclick="function back(){location.href='/admin/employees'};back()" value="Back" class="btn btn-outline-dark">
                        <% } else if(state === 'view') { %>
                            <input type="button" onclick="function back(){location.href='/admin/employees'};back()" value="Back" class="btn btn-outline-dark">
                        <% } %>
                    </div>
                </form>

            </main>

            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
            <script src="/js/employee-details.js"></script>
            <%- include('../includes/end.ejs') %>