<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/employees.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <h2><%= pageTitle%></h2>
                <form id="formDetails" action="<%= path %>" method="POST">
                    <input type="text" hidden id="employeeId" name="employeeId" value="<%= employee._id%>">
                    <input type="text" hidden id="formMode" value="<%= state %>">
                    <div class="card card-body form-group">
                        <label for="name">Employee name</label>
                        <input type="text" class="form-control" disabled
                            placeholder="employee name" value="<%= employee.name%>">
                    </div>

                    <div class="card card-body form-group">
                        <label for="numOfInjections">Injections</label>
                        <div id="injectionsContainer">
                            <div id="injectionsContainerList">
                                <% if(covidData.injections && covidData.injections.length > 0){ %>
                                    <% for(let i = 0; i < covidData.injections.length; i++) {%>
                                        <div class="input-group">
                                            <span class="input-group-text">Injection <%= i + 1%></span>
                                            <input type="date" aria-label="Date" placeholder="Date" class="form-control" value="<%= covidData.injections[i].date%>">
                                            <input type="text" aria-label="Note" placeholder="Note" class="form-control" value="<%= covidData.injections[i].note%>">
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <button type="button" class="btn btn-light">Add</button>
                        </div>
                    </div>

                    <div class="card card-body form-group">
                        <label for="numOfInjections">Infections</label>
                        <div id="infectionsContainer">
                            <div id="infectionsContainerList">
                                <% if(covidData.infections && covidData.infections.length > 0){ %>
                                    <% for(let i = 0; i < covidData.infections.length; i++) {%>
                                        <div class="input-group">
                                            <span class="input-group-text">Injection <%= i + 1%></span>
                                            <input type="date" aria-label="From Date" placeholder="fromDate" class="form-control" value="<%= covidData.infections[i].fromDate%>">
                                            <input type="date" aria-label="To Date" placeholder="toDate" class="form-control" value="<%= covidData.infections[i].toDate%>">
                                            <input type="text" aria-label="Note" placeholder="Note" class="form-control" value="<%= covidData.infections[i].note%>">
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <button type="button" class="btn btn-light">Add</button>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <% if(state === 'edit') { %>
                            <button type="submit" class="btn btn-success">Update</button>
                            <input type="button" onclick="function back(){location.href='/admin/employees'};back()" value="Back" class="btn btn-outline-dark">
                        <% } else if(state === 'add') { %>
                            <button type="submit" class="btn btn-success">Add</button>
                            <input type="button" onclick="function back(){location.href='/admin/employees'};back()" value="Back" class="btn btn-outline-dark">
                        <% } else if(state === 'view') { %>
                            <input type="button" onclick="function back(){location.href='/admin/employees'};back()" value="Back" class="btn btn-outline-dark">
                        <% } %>
                    </div>
                </form>

            </main>

            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
            <script src="/js/employee-details-covid.js"></script>
            <%- include('../includes/end.ejs') %>