<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/employees.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.1.0/css/fixedColumns.dataTables.min.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <h1>Covid Management</h1>
            <main>
                <div class="search-bar">
                    <div class="search-bar__input">
                        <input id="input-search-employee" placeholder="search">
                    </div>
                </div>
                <table id="employeeCovidList" class="stripe row-border order-column" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(employees && employees.length> 0) { %>
                            <% for(let employee of employees) { %>
                                <% if( employee.name) {%>
                                    <tr>
                                        <td>
                                            <%= employee.name %>
                                        </td>
                                        <td>
                                            <%= employee.age %>
                                        </td>
                                        <td>
                                            <%= employee.role.roleName %>
                                        </td>
                                        <td eid="<%= employee._id %>">
                                            <button class="view-details-employee">View</button> |
                                            <button class="edit-details-employee">Add</button>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>

            </main>

            <div id="dialog-message">
                <p id="dialog-message-text">
                    hêllo
                </p>
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>

            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script src="/js/employee.js"></script>
            <%- include('../includes/end.ejs') %>